@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

body{font-family: 'Open Sans', sans-serif; font-size: 14px; color: #666;}

.app-logo{margin: 11px 0px 0px 0px;}

.navbar{background: #666;}
.navbar a.link {color:#fff; font-size: 14px; text-transform: uppercase;}

.page{background:#fff;}

/*Login Page*/
.login-page-wrapper{max-width: 650px; margin: auto; padding: 20px;}
.login-page-wrapper .login-form-row{margin-top:70px;}
.login-page-wrapper .login-form-row .inputfiled-row{margin-bottom: 25px;}
.login-page-wrapper .login-form-row label{color:#505050; display: block; padding-bottom: 3px; text-transform: uppercase; font-weight: 400;}
.login-page-wrapper .login-form-row .inputfiled-row input[type="text"]{background: #e5e5e5; padding: 14px; font-size: 15px; width: 100%; box-sizing: border-box;}
.login-page-wrapper .login-form-row .inputfiled-row input[type="password"]{background: #e5e5e5; padding: 14px; font-size: 15px; width: 100%; box-sizing: border-box;}
.login-page-wrapper .login-form-row .inputbtn-row .button-fill{padding: 10px 25px; height: auto; font-size: 15px; text-transform: uppercase; display: inline-block; border-radius: 0px;}
.login-page-wrapper .login-form-row .inputbtn-row .button-fill:first-child { margin-right: 15px; }
.form-below-content{padding-top:50px;}
/*END Login Page*/