<div class="page" data-name="about">
  <div class="page-content">
    <div class="block-title">Welcome to Fmtjek</div>
    <div class="block block-strong">
        <p>You have successfully logged-in with<span></span><p>
    </div>
  </div>
</div>
